<div class="flexrow spaced">
  <div class="section">
    <div class="flexrow">
      <h2>{{localize 'TRESPASSER.EquipLabels.weapons'}}</h2>
    </div>
    <div class="flexrow">
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h5>
      <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h5>
    </div>
    <div class="flexrow">
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex1"></p>
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex3"></p>
    </div>
    <div class="flexrow">
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h5>
      <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h5>
    </div>
    <div class="flexrow">
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex1"></p>
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex3"></p>
    </div>
  </div>
</div>
<div class="flexrow spaced">
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h2>{{localize 'TRESPASSER.EquipLabels.armor'}}</h2>
      </div>
      <div class="flexrow">
        <h5 class="flex2"></h5>
        <h5 class="flex4">{{localize 'TRESPASSER.EquipLabels.armor'}}</h5>
        <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.weight'}}</h5>
        <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.armorclass'}}</h5>
        <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.die'}}</h5>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.head'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.body'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.arms'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.legs'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.outer'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.shield'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
    </div>
  </div>
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h2>Inventory</h2>
      </div>
      {{#each context.inventory as |item id|}}
      {{> "systems/trespasser/templates/actor/adventurer/items/inventory-slot.hbs" item}}
      <!-- Inventory Here -->
      {{/each}}
    </div>
  </div>
</div>
