<div class="flexrow spaced">
  <div class="section">
    <div class="flexrow">
      <h2>{{localize 'TRESPASSER.EquipLabels.weapons'}}</h2>
    </div>
    <div class="flexrow">
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h5>
      <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h5>
      <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h5>
      <a class="weapon-unequip flex1" data-item-id='{{context.equippedWeapons.left._id}}'>
        <i class="fas fa-hexagon-xmark"></i>
      </a>
    </div>
    <div class="flexrow weaponL" data-item-id='{{context.equippedWeapons.left._id}}'>
      <p class="fakeinput flex3">{{context.equippedWeapons.left.name}}</p>
      <p class="fakeinput flex1">d{{context.equippedWeapons.left.system.damage}}</p>
      <p class="fakeinput flex3">{{context.equippedWeapons.left.system.keywords}}</p>
      <p class="fakeinput flex3"><span>{{{context.equippedWeapons.left.system.details}}}</span></p>

    </div>
    <div class="flexrow">
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h5>
      <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h5>
      <h5 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h5>
      <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h5>
      <a class="weapon-unequip flex1" data-item-id='{{context.equippedWeapons.right._id}}'>
        <i class="fas fa-hexagon-xmark"></i>
      </a>
    </div>
    <div class="flexrow weaponR" data-item-id='{{context.equippedWeapons.right._id}}'>
      <p class="fakeinput flex3">{{context.equippedWeapons.right.name}}</p>
      <p class="fakeinput flex1">d{{context.equippedWeapons.right.system.damage}}</p>
      <p class="fakeinput flex3">{{context.equippedWeapons.right.system.keywords}}</p>
      <p class="fakeinput flex3">{{{context.equippedWeapons.right.system.details}}}</p>
    </div>
  </div>
</div>
<div class="flexrow spaced">
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h2>{{localize 'TRESPASSER.EquipLabels.armor'}}</h2>
      </div>
      <div class="flexrow">
        <h5 class="flex3"></h5>
        <h5 class="flex4">{{localize 'TRESPASSER.EquipLabels.armor'}}</h5>
        <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.weight'}}</h5>
        <h5 class="flex1">{{localize 'TRESPASSER.EquipLabels.armorclass'}}</h5>
        <h5 class="flex2">{{localize 'TRESPASSER.EquipLabels.die'}}</h5>
      </div>
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.head location='head'}}
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.body location='body'}}
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.arms location='arms'}}
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.legs location='legs'}}
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.outer location='outer'}}
			{{> 'systems/trespasser/templates/actor/adventurer/items/armor-slot.hbs' context.equippedArmor.shield location='shield'}}
    </div>
  </div>
  <div class="flexcol spaced " data-group='primary' data-tab='items'>
    <div class="section">
      <div class="flexrow">
        <h2>Inventory</h2>
      </div>
			<div class='item-controls'>
				<a
					class='item-control item-create'
					title='{{localize "DOCUMENT.Create" type='armor'}}'
					data-type='armor'
				>
					<i class='fas fa-plus'></i>
					{{localize 'DOCUMENT.New' type='armor'}}
				</a>
			</div>
			<div class='item-controls'>
				<a
					class='item-control item-create'
					title='{{localize "DOCUMENT.Create" type='weapon'}}'
					data-type='weapon'
				>
					<i class='fas fa-plus'></i>
					{{localize 'DOCUMENT.New' type='weapon'}}
				</a>
			</div>
			<div class='item-controls'>
				<a
					class='item-control item-create'
					title='{{localize "DOCUMENT.Create" type='simple_item'}}'
					data-type='simple_item'
					data-item-type='inventory-item'
				>
					<i class='fas fa-plus'></i>
					{{localize 'DOCUMENT.New' type='equipment'}}
				</a>
			</div>
      {{#each context.inventory as |item id|}}
      {{> "systems/trespasser/templates/actor/adventurer/items/inventory-slot.hbs" item=item id=id}}
      <!-- Inventory Here -->
      {{/each}}
    </div>
  </div>
</div>
