<div class="flexrow spaced">
  <div class="section">
    <div class="flexrow">
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h4>
      <h4 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h4>
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h4>
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h4>
    </div>
    <div class="flexrow">
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex1"></p>
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex3"></p>
    </div>
    <div class="flexrow">
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.weapon'}}</h4>
      <h4 class="flex1">{{localize 'TRESPASSER.EquipLabels.damage'}}</h4>
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.keywordsandrange'}}</h4>
      <h4 class="flex3">{{localize 'TRESPASSER.EquipLabels.weaponeffect'}}</h4>
    </div>
    <div class="flexrow">
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex1"></p>
      <p class="fakeinput flex3"></p>
      <p class="fakeinput flex3"></p>
    </div>
  </div>
</div>
<div class="flexrow spaced">
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h4 class="flex2"></h4>
        <h4 class="flex4">{{localize 'TRESPASSER.EquipLabels.armor'}}</h4>
        <h4 class="flex1">{{localize 'TRESPASSER.EquipLabels.weight'}}</h4>
        <h4 class="flex1">{{localize 'TRESPASSER.EquipLabels.armorclass'}}</h4>
        <h4 class="flex2">{{localize 'TRESPASSER.EquipLabels.die'}}</h4>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.head'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.body'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.arms'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.legs'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.outer'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
      <div class="flexrow">
        <p class="flex2">{{localize 'TRESPASSER.EquipLabels.shield'}}</p>
        <p class="fakeinput flex4"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex1"></p>
        <p class="fakeinput flex2"></p>
      </div>
    </div>
  </div>
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h2>Inventory</h2>
      </div>
      {{> "systems/trespasser/templates/actor/adventurer/inventory-slot.hbs"}}
      <!-- Inventory Here -->
    </div>
  </div>
</div>
