<div class="flexrow spaced">
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <div class="flex2"><h2>Attributes</h2></div>
        <div class="flex1"><h4>Score</h4></div>
        <div class="flex1"><h4>Mod</h4></div>
        <div class="flex1"><h4>Skilled</h4></div>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Str.long'}}</h3><br>
        <input class="flex1" name="system.attributes.str" type="text" value="{{system.attributes.str}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.str}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.str}}</p>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Agi.long'}}</h3>
        <input class="flex1" name="system.attributes.agi" type="text" value="{{system.attributes.agi}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.agi}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.agi}}</p>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Vig.long'}}</h3>
        <input class="flex1" name="system.attributes.vig" type="text" value="{{system.attributes.vig}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.vig}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.vig}}</p>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Knw.long'}}</h3>
        <input class="flex1" name="system.attributes.knw" type="text" value="{{system.attributes.knw}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.knw}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.knw}}</p>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Cng.long'}}</h3>
        <input class="flex1" name="system.attributes.cng" type="text" value="{{system.attributes.cng}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.cng}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.cng}}</p>
      </div>
      <div class="flexrow">
        <h3 class="flex2">{{localize 'TRESPASSER.Ability.Res.long'}}</h3>
        <input class="flex1" name="system.attributes.res" type="text" value="{{system.attributes.res}}" data-dtype="Number"/>
        <p class="flex1 fakeinput">{{system.ability_mods.res}}</p>
        <p class="flex1 fakeinput">{{system.skilled_mods.res}}</p>
      </div>
    </div>
  </div>
  <div class="flexcol spaced">
    <div class="section">
      <div class="flexrow">
        <h2>Skills</h2>
      </div>
      <div class="flexrow spaced">
        <div class="flexcol box spaced">
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.acrobatics'}}</h3>
            <input class="flex1" name="system.skills.acrobatics" type="checkbox" {{checked system.skills.acrobatics}} data-dtype="boolean"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.athletics'}}</h3>
            <input class="flex1" name="system.skills.athletics" type="checkbox" {{checked system.skills.athletics}} data-dtype="boolean"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.folklore'}}</h3>
            <input class="flex1" name="system.skills.folklore" type="checkbox" {{checked system.skills.folklore}} data-dtype="boolean"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.letters'}}</h3>
            <input class="flex1" name="system.skills.letters" type="checkbox" {{checked system.skills.letters}} data-dtype="boolean"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.mystery'}}</h3>
            <input class="flex1" name="system.skills.mystery" type="checkbox" {{checked system.skills.mystery}} data-dtype="boolean"/>
          </div>
        </div>
        <div class="flexcol box spaced">
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.nature'}}</h3>
            <input class="flex1" name="system.skills.nature" type="checkbox" {{checked system.skills.nature}} data-dtype="checkbox"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.perception'}}</h3>
            <input class="flex1" name="system.skills.perception" type="checkbox" {{checked system.skills.perception}} data-dtype="checkbox"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.speech'}}</h3>
            <input class="flex1" name="system.skills.speech" type="checkbox" {{checked system.skills.speech}} data-dtype="checkbox"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.stealth'}}</h3>
            <input class="flex1" name="system.skills.stealth" type="checkbox" {{checked system.skills.stealth}} data-dtype="checkbox"/>
          </div>
          <div class="flexrow">
            <h3 class="flex2">{{localize 'TRESPASSER.Skills.tinkering'}}</h3>
            <input class="flex1" name="system.skills.tinkering" type="checkbox" {{checked system.skills.tinkering}} data-dtype="checkbox"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
