<form class="trespasser adventurer" autocomplete="off">
	<div class="flexrow spaced section">
		<img class="profile-img flex1" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
		<div class="topbar flex6" >
			<div class="flexrow title">
				<h1 >Trespasser</h1>
			</div>
			<div class="flexrow">
				<h4 class="flex3">{{localize 'TRESPASSER.DetailsLabels.name'}}</h4>
				<h4 class="flex2">{{localize 'TRESPASSER.DetailsLabels.lineage'}}</h4>
			</div>
			<div class="flexrow">
				<input class="flex3" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
				<input class="flex2" name="system.text_details.lineage" type="text" value="{{system.text_details.lineage}}" placeholder="Lineage" data-dtype="text"/>
			</div>
			<div class="flexrow">
				<h4 class="flex5">{{localize 'TRESPASSER.DetailsLabels.words'}}</h4>
				<h5 class="flex2">{{localize 'TRESPASSER.CombatLabels.focus'}}</h5>
				<h5 class="flex2">{{localize 'TRESPASSER.CombatLabels.hitpoints'}}</h5>
			</div>
			<div class="flexrow">
				<input class="flex5" name="system.text_details.words" type="text" value="{{system.text_details.words}}" placeholder="Words To Live By" data-dtype="text"/>
				<input class="flex2" name="system.effort" type="text" value="{{system.effort}}" data-dtype="Number"/>
				<p class="flex1 fakeinput">{{system.combat.hit_points.value}}</p>
				<p class="flex1 fakeinput">{{system.combat.hit_points.max}}</p>
			</div>
		</div>
	</div>
	<div class="flexrow spaced main">
		<div id="body" class="flex3 section">
			<div class="flexrow">
				<div class="button">
					<h5><i class="fas fa-rotate-left"></i> Recollect </h5>
				</div>
				<div class="button longrest">
					<h5> <i class="fas fa-bed"></i> Rest</h5>
				</div>
				<div class="button flex1 recover">
				  <h5><i class="fas fa-bandage"></i> Recover </h5>
				</div>
			</div>
      <section class="navigation">
        <nav class="sheet-tabs tabs flexrow" data-group="primary">
          <a data-tab="skillspage">{{localize "TRESPASSER.MenuLabels.skillspage"}}</a>
          <a data-tab="combatpage">{{localize "TRESPASSER.MenuLabels.combatpage"}}</a>
          <a data-tab="equippage">{{localize "TRESPASSER.MenuLabels.equippage"}}</a>
					<a data-tab="featurepage">{{localize "TRESPASSER.MenuLabels.featurepage"}}</a>
        </nav>
      </section>
      <section class="sheet-body">
        <div class="tab-skills tab" data-group="primary" data-tab="skillspage">
          {{> "systems/trespasser/templates/actor/adventurer/skills-tab.hbs"}}
        </div>
        <div class="tab-combat tab" data-group="primary" data-tab="combatpage">
          {{> "systems/trespasser/templates/actor/adventurer/combat-tab.hbs"}}
        </div>
        <div class="tab-equip tab" data-group="primary" data-tab="equippage">
          {{> "systems/trespasser/templates/actor/adventurer/equip-tab.hbs"}}
        </div>
				<div class="tab-features tab" data-group="primary" data-tab="featurepage">
          {{> "systems/trespasser/templates/actor/adventurer/feature-tab.hbs"}}
        </div>
      </section>
	</div>
</div>
</form>
