<form class="trespasser adventurer" autocomplete="off">
	<div class="flexrow spaced section">
		<div class="topbar">
			<div class="flexrow">
				<h1 class="title">Trespasser</h1>
				<span class="flex1"><h5>Level</h5>
				<p class="fakeinput">{{system.level}}</p></span>
				<span class="flex2"><h5>XP</h5>
				<input name="system.xp" type="number" value="{{system.xp}}" data-dtype="number"/></span>
			</div>
			<div class="flexrow">
				<h4 class="flex3">{{localize 'TRESPASSER.DetailsLabels.playername'}}</h4>
				<h4 class="flex2">{{localize 'TRESPASSER.DetailsLabels.lineage'}}</h4>
				<h4 class="flex2">{{localize 'TRESPASSER.DetailsLabels.class'}}</h4>
			</div>
			<div class="flexrow">
				<input class="flex3" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
				<input class="flex2" name="system.text_details.lineage" type="text" value="{{system.text_details.lineage}}" placeholder="Lineage" data-dtype="text"/>
				<input class="flex2" name="system.text_details.class_name" type="text" value="{{system.text_details.class_name}}" placeholder="Class" data-dtype="text"/>
			</div>
			<div class="flexrow">
				<h4>{{localize 'TRESPASSER.DetailsLabels.themes'}}</h4>
				<h4>{{localize 'TRESPASSER.DetailsLabels.profession'}}</h4>
				<h4>{{localize 'TRESPASSER.DetailsLabels.alignment'}}</h4>
			</div>
			<div class="flexrow">
				<input name="system.text_details.themes" type="text" value="{{system.text_details.themes}}" placeholder="Themes" data-dtype="text"/>
				<input name="system.text_details.profession" type="text" value="{{system.text_details.profession}}" placeholder="Profession" data-dtype="text"/>
				<input name="system.text_details.alignment" type="text" value="{{system.text_details.alignment}}" placeholder="Alignment" data-dtype="text"/>
			</div>
		</div>
	</div>
	<div class="flexrow spaced main">
		<div class="spaced flex1 sidebar section">
			<div class="flexrow box">
				<div class="flexcol">
					<div class="flexrow">
						<h5 class="flex2">{{localize 'TRESPASSER.CombatLabels.hitpoints'}}</h5>
						<h5 class="flex2">{{localize 'TRESPASSER.CombatLabels.totalhp'}}</h5>
					</div>
					<div class="flexrow">
						<input name="system.combat.hit_points.value" type="text" value="{{system.combat.hit_points.value}}" data-dtype="Number"/>
						<p class="fakeinput">{{system.combat.hit_points.max}}</p>
					</div>
				</div>
			</div>
			<div class="flexrow box">
				<div class="flexcol">
					<div class="flexrow">
						<h5>{{localize 'TRESPASSER.CombatLabels.recovery'}}</h5>
					</div>
					<div class="flexrow">
						<input class="flex2" name="" type="text" value="5" data-dtype="Number"/>
						<div class="flex1 button">
							<i class="fas fa-refresh"></i>
						</div>
						<p class="flex2 fakeinput">5</p>
					</div>
				</div>
			</div>
			<div class="flexrow box">
				<div class="flexcol">
					<div class="flexrow">
						<h5>{{localize 'TRESPASSER.CombatLabels.effort'}}</h5>
					</div>
					<div class="flexrow">
						<input class="flex2" name="system.effort" type="text" value="{{system.effort}}" data-dtype="Number"/>
						<div class="flex1 button">
							<i class="fas fa-refresh"></i>
						</div>
						<p class="flex2 fakeinput">{{system.base_effort}}</p>
					</div>
				</div>
			</div>
			<div class="flexrow spaced">
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.skillbonus'}}</h5>
					<p class="fakeinput">{{system.skill_bonus}}</p>
				</div>
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.potency'}}</h5>
					<p class="fakeinput">d{{system.potency_dice}}</p>
				</div>
			</div>
			<div class="flexrow spaced">
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.initiative'}}</h5>
					<p class="fakeinput">{{system.initiative}}</p>
				</div>
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.speed'}}</h5>
					<input name="system.combat.speed" type="text" value="{{system.combat.speed}}" data-dtype="Number"/>
				</div>
			</div>
			<div class="flexrow spaced">
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.armorclass'}}</h5>
					<p class="fakeinput">{{system.base_armor_class}}</p>
				</div>
				<div class="flex2 box">
					<h5>{{localize 'TRESPASSER.CombatLabels.reactions'}}</h5>
					<p class="fakeinput">{{system.reactions}}</p>
				</div>
			</div>
			<br>
			<div class="flexrow button">
				<h2>Rest  <i class="fas fa-bed"></i></h2>
			</div>
		</div>
		<div id="body" class="flex3 section">

      <section class="navigation">
        <nav class="sheet-tabs tabs flexrow" data-group="primary">
          <a data-tab="skillspage">{{localize "TRESPASSER.MenuLabels.skillspage"}}</a>
          <a data-tab="combatpage">{{localize "TRESPASSER.MenuLabels.combatpage"}}</a>
          <a data-tab="equippage">{{localize "TRESPASSER.MenuLabels.equippage"}}</a>
					{{#if context.spells.length}}
					<a data-tab="spellpage">{{localize "TRESPASSER.MenuLabels.spells"}}</a>
					{{/if}}
        </nav>
      </section>
      <section class="sheet-body">
        <div class="tab-skills tab" data-group="primary" data-tab="skillspage">
          {{> "systems/trespasser/templates/actor/adventurer/skills-tab.hbs"}}
        </div>
        <div class="tab-combat tab" data-group="primary" data-tab="combatpage">
          {{> "systems/trespasser/templates/actor/adventurer/combat-tab.hbs"}}
        </div>
        <div class="tab-equip tab" data-group="primary" data-tab="equippage">
          {{> "systems/trespasser/templates/actor/adventurer/equip-tab.hbs"}}
        </div>
				<div class="tab-spells tab" data-group="primary" data-tab="spellpage">
          {{> "systems/trespasser/templates/actor/adventurer/spells-tab.hbs"}}
        </div>
      </section>
	</div>
</form>
