<div>
	{{#if success}}
		<h4>{{localize 'TRESPASSER.ChatCards.overcome-dc-roll'}} {{DC}}</h4>
	{{else}}
		<h4>{{localize 'TRESPASSER.ChatCards.failure-dc-roll'}} {{DC}}</h4>
	{{/if}}
	{{#if (ne successValue 0) includeZero=true}}
		{{#if (gt successValue 0) includeZero=true}}
			<h5>{{localize 'TRESPASSER.ChatCards.sparks'}} {{successValue}}</h5>
		{{else}}
			<h5>{{localize 'TRESPASSER.ChatCards.shadows'}} {{successValue}}<h5>
		{{/if}}
	{{/if}}
</div>
