<form class="{{cssClass}}" autocomplete="off">
  <div class="flexcol spaced">
    <div id="header" class="flexrow spaced">
      <div class="flexrow">
        <div class="flex1 img"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100"/></div>
        <div class="flexcol flex4">
          <input id="name" type="text" name="name" value="{{item.name}}" placeholder="{{localize "trespasser.name"}}" />
        </div>
      </div>
    </div>

    <div id="body">
      <h3 class="corners mid">Details</h3>
			<div class="description" data-group="primary" data-tab="description">
				{{editor enrichedDetails target="system.details" button=true owner=owner editable=editable}}
			</div>
        {{> 'systems/trespasser/templates/fields/number-field.hbs' label='TRESPASSER.ItemLabels.quantity' field="system.quantity" value=document.system.quantity min=0 max=200}}
    </div>
  </div>
</form>
