<div class="flexrow">
	<p class="flex2">{{localize (concat 'TRESPASSER.EquipLabels.' location)}}</p>
	<a class="armor-unequip flex1" data-item-id='{{_id}}'>
		<i class="fas fa-hexagon-xmark"></i>
	</a>
	<p class="fakeinput flex4">{{name}}</p>
	<p class="fakeinput flex1">{{system.weight}}</p>
	<p class="fakeinput flex1">{{system.armor_class}}</p>
	<p class="fakeinput flex2">{{system.armor_die}}</p>
</div>
