<div class="action" data-roll-skill="{{system.skill}}" data-support="{{system.is_support}}">
  <div class="flexrow">
		<a class="action-roll">
			<i class="fa-solid fa-dice-d20"></i>
		</a>
    <h3 class="flex3">{{name}}</h3>
    <h4 class="flex1">{{system.tier}}</h4>
  </div>
  <div class="table small">
    {{#if system.is_support}}
    <h5>{{system.skill}} Support - {{system.keywords}}</h5>
    {{else}}
    <h5>{{system.skill}} Attack - {{system.keywords}}</h5>
    {{/if}}

    <p><b>TARGET:</b> {{system.range}}</p>
    <p><b>HIT:</b> {{system.hit}}</p>
    <b>SOLID:</b> {{system.solid_hit}}
  </div>
</div>
