<div class="simple-card item" data-item-id="{{simple-card._id}}">
  <div class="expand-header flexrow">
    <h4 class="flex3">{{name}}</h4>
		<div class='item-controls'>
			<a
				class='item-control item-edit'
				title='{{localize "DOCUMENT.Update" type='Item'}}'
			>
				<i class='fas fa-edit'></i>
			</a>
			<a
				class='item-control item-delete'
				title='{{localize "DOCUMENT.Delete" type='Item'}}'
			>
				<i class='fas fa-trash'></i>
			</a>
		</div>
  </div>
	<div class="expand">{{{system.details}}}</div>
</div>
