<tr class="status" data-item-id='{{effect._id}}'>
  <td><h5>{{effect.name}}</h5></td>
  <td class="effect-levels">
    <a class="effect-control" data-action='inc' title = "{{localize 'TRESPASSER.MenuLabels.edit'}}"> <i class="fas fa-plus"></i> </a>
    {{effect.system.level}}
    <a class="effect-control" data-action='dec' title = "{{localize 'TRESPASSER.MenuLabels.edit'}}"> <i class="fas fa-minus"></i> </a>
  </td>
  <td class='effect-controls'>
    <a class="effect-control" data-action='edit' title = "{{localize 'TRESPASSER.MenuLabels.edit'}}"> <i class="fas fa-edit"></i> </a>
    <a class="effect-control" data-action='delete' title = "{{localize 'TRESPASSER.MenuLabels.delete'}}"> <i class="fas fa-trash"></i> </a>
  </td>
</tr>
